#!/bin/sh 
set -e

if [ ! -e /usr/share/debconf/confmodule ]; then
	exit
fi

# Source debconf library.
. /usr/share/debconf/confmodule 

db_version 2.0

##db_capb backup ?! it was never implemented!

#db_title MPlayer

case "${1}" in
    (configure|reconfigure)  #will go on
    ;;
    (*) echo >&2 "${0##*/}: Called with unknown argument \`${1}'."
    exit 1
  ;;
esac


#for questions related to creation of /etc/mplayer/mplayer.conf
CONFPRIORITY=medium
#mplayer conf
CONF=/etc/mplayer/mplayer.conf 

conf_has_nice_area () {
    grep -q '^### mplayer DEBCONF AREA' $CONF \
	&&  grep -q '^### END OF DEBCONF AREA.' $CONF
}

### test that we are not stomping the user feet here
if test -r $CONF && ! conf_has_nice_area
then
 db_input $CONFPRIORITY 'mplayer/replace-existing-files'  || true
 db_go || true
 db_get  'mplayer/replace-existing-files' || true
 if [ "$RET" != "true" ] 
 then
    exit 0
    #since we are bailing out, all code from here on must be related to $CONF
 fi
fi

db_go  || true

########################################## dvd  device

db_input  $CONFPRIORITY mplayer/dvd_device  || true



########################################## find fonts

t=$(tempfile -p fonts )

echo Sans >> $t
echo Serif >> $t
#this command is in package 'fontconfig'
if test -x /usr/bin/fc-list ; then
 fc-list : family | cut -d, -f1  >> $t
fi

if test -s $t
then
 fonts=$( awk '{printf("%s%s",a,$0) ; a=", "}' $t || true )
 db_subst "mplayer/ttfont" ttfontchoices $fonts  || true
 
 # hack to work around set -e..
 db_input low  mplayer/ttfont && ret=0 || ret=$?
 if [ "$ret" = 30 ] ; then
   db_set  mplayer/ttfont Sans  || true
 fi
else
 db_input $CONFPRIORITY "mplayer/no-ttfont" || true
fi


rm $t

##############################################################

#a list of mplayer -vo is added here automagically (see debian/config.augmenter)
#it is returned by a function   cat_vo_complete_list
#MPLAYER_AUTOMAGIC#

vo_filter () {
 grep  '.' |  \
 awk '{if(f){print}}/Available video output drivers:/{f=1}'  | \
 sed 's/^\t//'
}

vo_grep () {
  egrep -vw 'png|pgm|md5|tga|gif|jpeg|null|yuv4mpeg|gif89a' || true
}


cat_vo () {
 if [ "$CONFIG_OF_MPLAYER_WAS_AUGMENTED" ]; then 
  cat_vo_complete_list | vo_grep
 elif which mplayer 2>&1 > /dev/null ; then
  # env -i is there to avoid locales
  env -i mplayer -vo help 2> /dev/null | vo_filter | vo_grep
 else
 #emergency fall back
   /bin/echo -e 'xv\tX11/Xv accelerated'
   /bin/echo -e 'x11\tX11 not accelerated'
 fi
}


vo_list () {
 cat_vo |\
  tr -c 'a-zA-Z0-9.+"/()!\n'"'-" '_' | \
   awk '{print  a $0 ; a=", ";}' || true
}


#restore default
#db_get  'mplayer/voutput' || true
#DEF="$RET"
#[ "$DEF" ] && DEF=$( vo_list | grep "^$DEF" | head -1 | tr -d '\n')
#[ "$DEF" ] || DEF=xv
#echo "$DEF" > /tmp/HACK



db_subst "mplayer/voutput" vochoices autodetect, $(  vo_list || true )  || true

## now 'autodetect' is the default choice
#DEF=$( cat_vo | grep "^xv" | head -1 | tr -d '\n' || true)
#db_subst "mplayer/voutput" vodefault $DEF  || true

db_input  low mplayer/voutput   || true

db_go || true


#if db_input  $CONFPRIORITY mplayer/voutput  ; then
 #clean up answer to voutput 
 #db_get  'mplayer/voutput' || true
 #RET=$(echo $RET | awk 'BEGIN{FS="_"};{print $1}')
 ##fallback if I have messed up something
 #[ "$RET" ] || RET=xv
 #db_set  'mplayer/voutput' $RET || true
#fi
#db_go || true


############################################################

 
exit 0
